//font variables
$xxl-font: 4rem;
$xl-font: 3rem;
$lg-font: 2.25rem;
$md-font: 1.5rem;
$sm-font: 1rem;
$xs-font: 0.88rem;
$xxs-font: 0.81rem;
$extra-font: 1.25rem;

//color variables
$primary-color: #181818;
$secondary-color: #0e0d0d;
$whiteash-color: #f9fafb;
$white-color: #ffffff;
$lighter-gray: #a7a7a7;

$warning-color: #e97316;
$error-color: #ef444a;
$success-color: #22c55e;
$black-color: #1b1c1d;
$light-dark: #676868;
$faint-light-dark: #414243;
